:root {
    --dark-purple: #180157;
    --violet: #6a00ff;
    --white: #ffffff;
    --pink: #FF7CDE;
    --light-pink: #fea1f4;
    --link-hover-color: #ffffff;
    --yellow: #ffc107;
    --cta-text-color: #333333;
    --orange: #ff8c00;
}